html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif; /* Reemplaza $fuente_principal con la fuente deseada */
    font-size: 1.6rem;
    line-height: 1.8;
    background-color: #f3f5fc;
}

p {
    color: #000; /* Reemplaza $negro con el color deseado */
    font-size: 2rem;
    text-align: center;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: Arial, sans-serif; /* Reemplaza $fuente_principal con la fuente deseada */
    margin: calc(1.5rem / 2) 0; /* Reemplaza $separacion con el valor deseado */
    font-weight: 300;
    text-align: center;
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}
.contenedor{
    width: 95%;
    max-width: 150rem;
    margin: 0 auto;
}

.imagen{
    left: 100px;
    right: 100px;
}

.contenedor-main{
    display: grid;
    grid-template-columns: 1.5fr 1fr;

    .textarea{
        margin: 10rem 15rem;
    }

    .mostrar-texto{
        background-color: white;
        width: 100%;
        max-width: 40rem;
        margin: 0 5rem 2rem;
    }
}

.formulario{


    input:not([type="submit"]),
    textarea{
        padding: 1rem;
        display: inline block;
        background-color: white;
        border: 1px solid gainsboro;
        border-radius: 1rem;
        margin-bottom: 2rem;
    }

    textarea{
        height: 50rem;
        width: 80rem;
    }
}

.boton-encriptar{
    
    background-color: #072b61;
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 5rem / 2;
    display: inline-block;
    border: none;
    border-radius: 1rem;

    &:hover{
        background-color: darken(#072b61, 10);
        cursor: pointer;
    }
}

.boton-desencriptar{
    background-color: #e9ecf8;
    color: black;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 5rem / 2;
    display: inline-block;
    border: none;
    border-radius: 1rem;

    &:hover{
        background-color: darken(#e9ecf8, 10);
        cursor: pointer;
    }
}




