html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif; /* Reemplaza $fuente_principal con la fuente deseada */
    font-size: 1.6rem;
    line-height: 1.8;
    background-color: #f3f5fc;
}

p {
    color: #000; /* Reemplaza $negro con el color deseado */
    font-size: 2rem;
    text-align: center;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: Arial, sans-serif; /* Reemplaza $fuente_principal con la fuente deseada */
    margin: calc(1.5rem / 2) 0; /* Reemplaza $separacion con el valor deseado */
    font-weight: 300;
    text-align: center;
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}
.contenedor{
    width: 95%;
    max-width: 160rem;
    margin: 0 auto;
}


.contenedor-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 2rem;
    @media screen and (max-width: 845px) {
        .textarea {
            margin: 2rem 0; /* Elimina el margen */
        }
        img{
            display: none;
        }
    }

}

.textarea{
    margin: 10rem 0 0 10rem;
}

@media screen and (max-width: 390px) and (max-height: 844px) {
    .contenedor-main {
        grid-template-columns: 1fr; /* Cambia a una sola columna */
    }

    .textarea {
        margin: 2rem auto; /* Ajusta el margen para centrar */
        width: calc(100% - 2rem); /* Ajusta el ancho del textarea para dejar espacio para el margen */
        max-width: calc(100% - 2rem); /* Ajusta el ancho máximo */
        height: auto; /* Cambia la altura a automática */
    }
}

.mostrar-texto{
    text-align: center;
    background-color: white;
    max-width: 40rem;
    margin: 0 auto;
    border-radius: 2rem;
}

.formulario{
    
    textarea{
        padding: 1rem;
        background-color: white;
        border-radius: 1rem;
        margin-bottom: 2rem;
        height: 50rem;
        width: 100%;

    }

    input{

        border-radius: 2.5rem;
        font-weight: 700;
        text-decoration: none;
        text-align: center;
        margin: 2rem 1rem;

        border: 1px solid #0a3871;
     

        &:hover{
            box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
            cursor: pointer;
        }
    }
}
.botones-contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 0.1rem;
}

.boton-encriptar{
    
    background-color: #072b61;
    color: white;
    padding: 2rem 7rem;
}

.boton-desencriptar{
    background-color: #e9ecf8;
    color: black;
    padding: 2rem 5.62rem;
}




